@charset "UTF-8";

* {
    font-family: 'Libre Baskerville', serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: 0 none;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.center-block{ margin-left: auto;; margin-right: auto;}
.cem {width: 100%;}

.fleft_full {
    float: left;
    width: 100%;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clear {
    clear: both;
}

.center_element {
    width: 1160px;
    margin: 0 auto;
}


textarea:focus, input:focus{
    outline: none;
}


body {
  background: #fff;
}


/* css micro clearfix */
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after { clear: both; }

/* for ie 6/7 (trigger haslayout) */
.cf { zoom: 1; }

.center_element{
    width: 1180px;
    padding: 0 15px;
}

/*------------------------------------------------
------------------------HOME----------------------
-------------------------------------------------*/

/*header -  parte superior*/

.header_main {display: block;}
.header_mobile {display: none;}

.header_sup {
	background: #184f8c;
	height: 50px;
}

.header_sup-box {
	float: right;
	margin: 15px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.header_contato,
.header_info {float: left;}

.header_contato {
	width: 50%;
    display: flex;
    justify-content: space-around;
}

.header_fone,
.header_fax,
.header_info-link {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	transition: color .2s linear .2s;
}

.header_info {
	width: 50%;
}

.header_info-list {
	margin: 0;
	display: flex;
    justify-content: space-around;
}

.header_info-item:first-child {
	margin-left: 15px;
}

.header_info-link:hover,
.header_info-link:focus{
	color: #c3c3c3;
	text-decoration: none;
}

.shape{
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  display: none;
}

/* header - parte de navegação */

.header_section-navigation {
	background: #eee;
	padding: 15px 0 20px;
}

.header_nav {
	display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
	float: left;
  margin: 0;
}

.header_block {
	float: right;
}

.header_menu {
	display: block;
	margin: 0;
}

.header_menu-item {
	display: inline-block;
}

.header_menu-link {
	display: block;
	text-align: center;
	padding: 12px 8px;
	border: 1px solid transparent;
	border-radius: 10px;
	color: #003065;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	background: transparent;
	transition: color .2s linear .2s, background .2s linear .2s;
}

.header_menu-link:hover,
.header_menu-link:focus {
	color: #fff;
	background: #003065;
	text-decoration: none;
}

/* section lv1 */

.section_lv1 {
	padding: 80px 0;
}

.section_lv1-box {
	display: flex;
  	align-items: center;
}

.cald_inf-tit {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 2.3rem;
	margin: 10px 0;
  text-align: right;
}

.cald_inf-txt {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	color: white;
	margin-bottom: 12px;
  	text-align: right;
}

.cald_inf-btn {
	margin-top: 30px;
  float: right;
}

.cald_inf-link {
	width: 100px;
	color: #fff;
	background: #184f8c;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	border-radius: 20px;
  padding: 11px 45px;
	transition: color .2s linear .2s;
}

.cald_inf-link:hover {
	color:#c3c3c3;
	text-decoration: none;
}

/* section lv2 */

.section_lv2 {
	margin-top: 130px;
	padding: 30px 0;
}

.section_lv2-box {
	display: flex;
	align-items: flex-start;
}

.sobre_box-img {width: 100%;}

.sobre_local-img {margin: 0 auto;}

.sobre_local-txt {
	text-align: center;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	color: #fff;
	background: #003165;
  padding: 20px 25px;
}

.sobre_box-menu {margin: 0;}

.sobre_menu-item {margin-bottom: 30px;}

.sobre_menu-link {
	display: block;
  font-size: 1.8rem;
  background: #184f8c;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 10px;
  border-left: 80px solid #003065;
  border-top: 1px solid #184f8c;
  border-right: 1px solid #184f8c;
  border-bottom: 1px solid #184f8c;
	transition: color .2s linear .2s, background .2s linear .2s, border .2s linear .2s;
}

.sobre_menu-link:hover,
.sobre_menu-link:focus{

	border-top: 1px solid #003065;
	border-right: 1px solid #003065;
	border-bottom: 1px solid #003065;
	border-left: 80px solid #184f8c;
	color: #fff;
	text-decoration: none;
	background: #003065;
}

/* section lv3 */

.section_lv3 {
	padding: 25px 0;
}

.section_lv3-tit {
	display: table;
	margin: 15px auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	color: #003165;
	padding: 15px 0;
	border-bottom: 5px solid #003165;
}

.prat {
	display: inline-block;
  margin: 40px 0;
}

.prat_link {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	color: #fff;
	background: #003165;
	text-align: center;
	border: 1px solid #eee;
	transition: background .2s linear .2s, color .2s linear .2s, border .2s linear .2s;
}

.prat_link:hover,
.prat_link:focus {
	color:#003165;
	background: #fff;
	text-decoration: none;
	border: 1px solid #eee;
}

.btn_comprar{
	padding: 25px 10px;
}

/* Footer */

.footer {
	margin: 0;
	padding: 30px 0;
	background: #e4e4e4;
}

.inst_tit,
.fale_tit,
.curta_page {
	font-family: 'Open Sans', sans-serif;
	color: #003165;
	font-size: 2.2rem;
	margin: 15px 0;
}

.inst_item {margin-bottom: 6px;}

.fale_item {margin-bottom: 15px; position: relative; margin-left: 30px;}

.fale_item::before {
	content: "";
	width: 35px;
	height: 35px;
	position: absolute;
	top: -3px;
	left: -37px;
	background: url('../img/sprite.png') 2px 0 no-repeat;
}

.fale_item:nth-child(2)::before{background: url('../img/sprite.png') -43px -7px no-repeat;}
.fale_item:nth-child(3)::before{background: url('../img/sprite.png') -87px 2px no-repeat; top: -12px;}

.fale_txt { margin: 0;}

.inst_link,
.fale_txt,
.fale_email-link {
	font-family: 'Open Sans', sans-serif;
	color: #003165;
	font-size: 1.3rem;
}

.inst_link:hover,
.inst_linl:focus,
.fale_email-link:hover,
.fale_email-link:focus {
	text-decoration: none;
	color: #184f8c;
}

/*------------------------------------------------
--------------PÁGINAS INTERNAS-------------------
-------------------------------------------------*/


.page-home .shape {display: block;}

.page-home .header_section-navigation {
	display: inline-block;
	padding: 15px 0;
	background: transparent;
}

.page-home .header_menu-link {
	color: #fff;
}

.page-home .header_menu-link:hover,
.page-home .header_menu-link:focus {
	color: #003065;
	background: #fff;
	text-decoration: none;
}

/*------------------------------------------------
--------------PÁGINA SERVIÇOS-------------------
-------------------------------------------------*/
.lista-servicos li{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    color: #003065;
    margin-bottom: 12px;
    list-style: disc;
    list-style-position: inside;
}

/*------------------------------------------------
--------------PÁGINA PRODUTOS-------------------
-------------------------------------------------*/

.section_product,
.section_sobre,
.section_parceiros {padding: 70px 0;}

.section_product-box,
.section_sobre-box {
	  display: flex;
    align-items: center;
}

.tit_product,
.tit_sobre,
.tit_parceiros,
.name_parceiro{
	  font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #003065;
    font-size: 2.3rem;
    margin: 10px 0;
    text-align: left;
}

.name_parceiro{ font-size: 1.8rem; }

.desc_product,
.desc_service,
.desc_sobre,
.desc_parceiro {
	  font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    color: #003065;
    margin-bottom: 12px;
    text-align: left;
}

.fone_parceiro{
    font-family: 'Open Sans', sans-serif;
    display: block;
}

/*------------------------------------------------
--------------------SOBRE------------------------
-------------------------------------------------*/

.subtit_sobre {
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #003065;
    font-size: 2rem;
    margin: 10px 0;
    text-align: left;
}

/*------------------------------------------------
--------------------PARCEIROS---------------------
-------------------------------------------------*/

.item_parceiro {
	margin: 35px 0;
  height: 265px;
}

.link_parceiro {
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #003065;
    font-size: 1.7rem;
    margin: 10px 0;
    text-align: left;
}

.link_parceiro:hover,
.link_parceiro:focus {
	text-decoration: none;
	color: #184f8f;
}

/*------------------------------------------------
---------------------CONTATO----------------------
-------------------------------------------------*/

.contato {
	padding: 50px 0;
}

.contato_tit,
.localizacao_tit{
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #003065;
    font-size: 2.3rem;
    margin: 15px 0;
    text-align: left;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.contato_txt {
	padding: 15px 20px;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	color: #003065;
	font-weight: 500;
	text-align: left;
	font-size: 1.6rem;
}

/* area do formulário */

#contato {padding: 15px 20px;}

.contato_campos {margin-bottom: 20px;}

.contato_campos label {
	font-family: 'Open Sans', sans-serif;
	color: #003065;
	font-size: 1.4rem;
	font-weight: 500;
	text-align: left;
	margin: 8px 0;
}

#nome,
#email,
#telefone,
#assunto,
#mensagem {
	width: 100%;
	border: 1px solid #eee;
	font-family: 'Open Sans', sans-serif;
	color: #003065;
	padding: 15px 10px;
	font-size: 1.5rem;
	transition: border .2s ease .2s;
}
#mensagem{resize: none; height: 120px;}

#nome:hover,#nome:focus,#nome:active,
#email:hover,#email:focus,#email:active,
#telefone:hover,#telefone:focus,#telefone:active,
#assunto:hover,#assunto:focus,#assunto:active,
#mensagem:hover, #mensagem:focus,#mensagem:active {
	border: 1px solid #003065;
}

.error_text{ color: #e74c3c; }
.sucess_text{ color:#27ae60; }

.error_text,
.sucess_text{
    font-size: 13px;
    text-align: center;
    margin-bottom: 20px;
    display: none;
}

.btn_form {
	display: block;
    text-align: center;
    padding: 12px 19px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    background: #003065;
    transition: color .2s linear .2s, background .2s linear .2s, border .2s linear .2s;
}

.btn_form:hover {
	color: #003065;
	background: #fff;
	border: 1px solid #003065;

}

/* area da localização */

.localizacao {}
.box_map {
	width: 100%;
	padding: 15px 20px;
}

.localizazao_infos {
	padding: 15px 20px;
}


/*---------------------------------------
/---------------RESPONSIVO---------------
/---------------------------------------*/

@media (max-width: 768px) {

	.center_element  {
      width: 100%;
      position: relative;
    }

	/*Shape*/
	.page-home .shape {display: none;}


	/*header do mobile*/



	.header_main {display: none;}

	.header_mobile {
		display: block;
		position: relative;
		background: #fff;
		margin-bottom: 30px;
		border-bottom: 1px solid #184f8c;
	}


	.hamburguer {
		position: absolute;
		left: 15px;
		top: 50%;
		margin-top: -9px;
		width: 24px;
	}

	.hamburguer_item {
		width: 100%;
		height: 3px;
		background:  #184f8c;
		margin-bottom: 3px;
	}

	.logo_mobile {
		display: table;
		margin: 0 auto;
		padding: 15px 0;
	}
	
	.logo_mobile-link {display: block; width: 140px;}

	.nav_mobile_col .logo_mobile {
		margin: 6px auto;
	}

	.nav_mobile_wrapper {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 200;
		overflow: hidden;
		transform: translate(-100%);
		-moz-transform: translate(-100%);
		-webkit-transform: translate(-100%);
		transition: transform .5s ease;
		-moz-transition: transform .5s ease;
		-webkit-transition: transform .5s ease;
	}

	.nav_mobile_wrapper.active{ transform: translate(0); -moz-transform: translate(0); -webkit-transform: translate(0);}

	.nav_mobile_col {
		position: relative;
		width: 100%;
		background: #eee;
		height: 100%;
		float: left;
		overflow: auto;
	}

	.menu_close {
		background: url(../img/close.png);
		width: 32px;
		height: 32px;
		line-height: 66px;
		text-align: center;
		color: #fff;
		font-size: 35px;
		font-family: 'Open Sans', sans-serif;
		position: absolute;
		top: 30px;
		right: 24px;
	}
	
	.borda-divisao {
		width: 100%;
		height: 1px;
		background: #003065;
	}
	
	.header_mobile .header_menu {margin-top: 25px;}
	
	.header_menu-item {width: 100%; margin: 5px 0;}
	
	.page-home .header_menu-link,
	.page-home .header_menu-link:focus {color: #003065;}
	
	.page-home .header_menu-link:focus,
	.page-home .header_menu-link:hover {background: #fff;}
	

	/* section lv1 */
	/* Seção de informações da caldeira */

	.section_lv1 { padding: 20px 0;}

	.section_lv1-box {
		display: flex;
    	flex-direction: column;
	}



	.cald_inf-tit {
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		color: #003165;
		font-size: 2.3rem;
		margin: 20px 0;
	  	text-align: left;
	}

	.cald_inf-txt {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.4rem;
		color:#003165;
		margin-bottom: 12px;
		text-align: left;
	}


	.cald_inf-link {
		width: 141px;
		padding: 11px 39px;
	}

	.cald_inf-btn {float: left;}


	/* section lv2 */

	.section_lv2 {
		margin-top: 10px;
	}

	.section_lv2-box {flex-direction: column;}

	.sobre_box-local {margin: 20px 0;}


	/* section lv3 */

	.prat {
		margin: 10px 0;
	}

	.prat_item {
		margin: 20px 0;
	}

	/*Página sobre*/

	/* página servicos */

	/* produtos */

	.sobre_img-box,
	.servicos_img-box,
	.produtos_img-box {
		display: none;
	}


	/* parceiros */

	.section_parceiro {padding: 20px 0;}

	.item_parceiro {
		margin: 50px 0;
		border: 1px solid #003065;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.name_parceiro {
		margin: 5px 0;
		font-size: 1.7rem;
	}

	.desc_parceiro {
		font-size: 1.3rem;
		margin-bottom: 5px;
	}

	.link_parceiro {font-size: 1.5rem;}






	/* contato */


	.box_map {padding: 0;}
	iframe {max-width: 100%;}










}
